

#footer {
    width: 592px;
    height: 36px;
    top: 651px;
    left: 340px;
    border: 1px;

    border: 1px solid #ECEFF2;
}

#line {
    width: 568px;
    top: 651px;
    left: 364px;
    border: 1px;

    color: #ECEFF2;

    border: 1px solid #ECEFF2;
}